![ine-divider](https://user-images.githubusercontent.com/7065401/92672068-398e8080-f2ee-11ea-82d6-ad53f7feb5c0.png)
<hr>

# Introducing Pandas Series (Solutions)
<img src="https://user-images.githubusercontent.com/7065401/75165824-badf4680-5701-11ea-9c5b-5475b0a33abf.png" style="width:300px; float: right; margin: 0 40px 40px 40px;"/>

The Pandas (Panel Data) Python library is a very powerful tool for data manipulation and analysis.  We will talk about it throughout several lessons of this bootcamp, and even assume familiarity with Pandas in later lessons.

# Exercises

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

In [1]:
import pandas as pd

## Series creation

### Create an empty pandas Series

In [2]:
# your code goes here

In [3]:
pd.Series(dtype=float)

Series([], dtype: float64)

### Given the X python list convert it to an Y pandas Series

In [4]:
# your code goes here
X = ['A','B','C']
print(X, type(X))

['A', 'B', 'C'] <class 'list'>

In [5]:
X = ['A','B','C']
print(X, type(X))

Y = pd.Series(X)
print(Y, type(Y)) # different type

['A', 'B', 'C'] <class 'list'>
0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

### Given the X pandas Series, name it 'My letters'

In [6]:
# your code goes here
X = pd.Series(['A','B','C'])
X

0    A
1    B
2    C
dtype: object

In [7]:
X = pd.Series(['A','B','C'])
X.name = 'My letters'
X

0    A
1    B
2    C
Name: My letters, dtype: object

### Given the X pandas Series, show its values

In [8]:
# your code goes here
X = pd.Series(['A','B','C'])

In [9]:
X = pd.Series(['A','B','C'])
X.values

array(['A', 'B', 'C'], dtype=object)

## Series indexing

### Assign index names to the given X pandas Series

In [10]:
# your code goes here
X = pd.Series(['A','B','C'])
X

0    A
1    B
2    C
dtype: object

In [11]:
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']
X.index = index_names
X

first     A
second    B
third     C
dtype: object

### Given the X pandas Series, show its first element

In [12]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])
# your code goes here

In [13]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])
#X[0] # by position
#X.iloc[0] # by position
X['first'] # by index

'A'

### Given the X pandas Series, show its last element

In [14]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])
# your code goes here

In [15]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])
#X[-1] # by position
X.iloc[-1] # by position
#X['third'] # by index

'C'

### Given the X pandas Series, show all middle elements

In [16]:
# your code goes here
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

In [17]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])
#X[['second', 'third', 'forth']]
#X.iloc[1:-1] # by position
X[1:-1] # by position

second    B
third     C
forth     D
dtype: object

### Given the X pandas Series, show the elements in reverse position

In [18]:
# your code goes here
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

In [19]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])
X.iloc[::-1]
#X[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

### Given the X pandas Series, show the first and last elements

In [20]:
# your code goes here
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','fourth','fifth'])

In [21]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','fourth','fifth'])
#X[['first', 'fifth']]
X.iloc[[0, -1]]
#X[[0, -1]]

first    A
fifth    E
dtype: object

## Series manipulation

### Convert the given integer pandas Series to float

In [22]:
# your code goes here
X = pd.Series([1, 2, 3, 4, 5],
              index=['first', 'second', 'third', 'fourth', 'fifth'])
X

first     1
second    2
third     3
fourth    4
fifth     5
dtype: int64

In [23]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','fourth','fifth'])
pd.Series(X, dtype=float)

first     1.0
second    2.0
third     3.0
fourth    4.0
fifth     5.0
dtype: float64

In [24]:
# Alternate solution
X.astype(float)

first     1.0
second    2.0
third     3.0
fourth    4.0
fifth     5.0
dtype: float64

### Order (sort) the given pandas Series

In [25]:
X = pd.Series([4, 2, 5, 1, 3],
              index=['fourth', 'second', 'fifth', 'first', 'third'])
# your code goes here

In [26]:
X = pd.Series([4, 2, 5, 1, 3],
              index=['fourth', 'second', 'fifth', 'first', 'third'])
X = X.sort_values()
X

first     1
second    2
third     3
fourth    4
fifth     5
dtype: int64

### Given the X pandas Series, set the fifth element equal to 10

In [27]:
X = pd.Series([1, 2, 3, 4, 5],
              index=['A', 'B', 'C', 'D', 'E'])
# your code goes here

In [28]:
X = pd.Series([1, 2, 3, 4, 5],
              index=['A', 'B', 'C', 'D', 'E'])
X.iloc[4] = 10
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

### Given the X pandas Series, change all the middle elements to 0

In [29]:
# your code goes here
X = pd.Series([1, 2, 3, 4, 5],
              index=['A', 'B', 'C', 'D', 'E'])

In [30]:
X = pd.Series([1, 2, 3, 4, 5],
              index=['A', 'B', 'C', 'D', 'E'])
X[1:-1] = 0
X

A    1
B    0
C    0
D    0
E    5
dtype: int64

### Given the X pandas Series, add 5 to every element

In [31]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])
# your code goes here

In [32]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])
X + 5

A     6
B     7
C     8
D     9
E    10
dtype: int64

## Boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [33]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])
# your code goes here

In [34]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])
mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

### Given the X pandas Series, get the negative elements

In [35]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])
# your code goes here

In [36]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])
mask = X <= 0
X[mask]

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64

### Given the X pandas Series, get numbers larger than 5

In [37]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])
# your code goes here

In [38]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])
mask = X > 5
X[mask]

5     6
9    10
dtype: int64

### Given the X pandas Series, select numbers higher than the elements mean

In [39]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])
# your code goes here

In [40]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])
mask = X > X.mean()
X[mask]

1     2
4     5
5     6
9    10
dtype: int64

### Given the X pandas Series, get numbers equal to 2 or 10

In [41]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])
# your code goes here

In [42]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])
mask = (X == 2) | (X == 10)
X[mask]

1     2
9    10
dtype: int64

In [43]:
# Alternate solution
X[X.isin([2, 10])]

1     2
9    10
dtype: int64

## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

In [44]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])
# your code goes here

In [45]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])
(X != 0).all()

False

### Given the X pandas Series, return True if any of its elements is zero

In [46]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])
# your code goes here

In [47]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])
(X == 0).any()

True

## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [48]:
X = pd.Series([3, 5, 6, 7, 2, 3, 4, 9, 4])
# your code goes here

In [49]:
X = pd.Series([3, 5, 6, 7, 2, 3, 4, 9, 4])
X.sum()

43

### Given the X pandas Series, show the mean value of its elements

In [50]:
X = pd.Series([1, 2, 0, 4, 5, 6, 0, 0, 9, 10])
# your code goes here

In [51]:
X = pd.Series([1, 2, 0, 4, 5, 6, 0, 0, 9, 10])
X.mean()

3.7

### Given the X pandas Series, show the max value of its elements

In [52]:
X = pd.Series([1, 2, 0, 4, 5, 6, 0, 0, 9, 10])
# your code goes here

In [53]:
X = pd.Series([1, 2, 0, 4, 5, 6, 0, 0, 9, 10])
X.max()

10