<div style="position: relative;">
<img src="https://user-images.githubusercontent.com/7065401/98728503-5ab82f80-2378-11eb-9c79-adeb308fc647.png"></img>

<h1 style="color: white; position: absolute; top:27%; left:10%;">
     INE Bootcamp
</h1>
<h2 style="color: white; position: absolute; top:36%; left:10%;">
    Data Analysis, Visualization and Predictive Modeling
</h2> 

<h3 style="color: #ef7d22; font-weight: normal; position: absolute; top:58%; left:10%;">
    <b>David Mertz, Ph.D.</b>
</h3>

<h3 style="color: #ef7d22; font-weight: normal; position: absolute; top:63%; left:10%;">
    <b>Data Scientist</b>
</h3>
</div>

<div style="width: 100%; height: 200px; background-color: #222; text-align: center; padding-top: 20px; margin-bottom: 40px;">
<br><br>

<h1 style="color: white; font-weight: bold;">
    Pandas DataFrames
</h1>

</div>

<img src="https://user-images.githubusercontent.com/7065401/75165824-badf4680-5701-11ea-9c5b-5475b0a33abf.png" style="width:300px; float: right; margin: 0 40px 40px 40px;"/>

The Pandas (Panel Data) Python library is a very powerful tool for data manipulation and analysis.  We will talk about it throughout several lessons of this bootcamp, and even assume familiarity with Pandas in later lessons.

> The data objects in Pandas you will work with most are `DataFrame`s. 

> As we mentioned in the last lesson, a DataFrame is, in essence, a number of Series held in a common object.  However, by collecting serveral Series together, we get far more powerful and versatile capabilities than merely working with them separately.

At the start, we can import Pandas, by convention it is usually given the two-letter name `pd` within Python programs.  We also import the library NumPy, using the conventional short name `np`.  This bootcamp will not discuss NumPy specifically, but Pandas' Series are built on top of NumPy `ndarrays`, and occasionally we want to use capabilities of their underlying arrrays.

In [1]:
# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

1.2.3

We continue to analyze G7 countries for these DataFrame examples. A DataFrame looks like a table (this data is also in a spreadsheet [at this link](https://docs.google.com/spreadsheets/d/1IlorV2-Oh9Da1JAZ7weVw86PQrQydSMp-ydVMH135iI/edit?usp=sharing)):

| Country | Population |      GDP |  Area   |   HDI | Continent   
|--------:|-----------:|---------:|--------:|:------|--------------
| Canada  |     35.467 |  1785387 | 9984670 | 0.913 | America
| France  |     63.951 |  2833687 |  640679 | 0.888 | Europe
| Germany |     80.94  |  3874437 |  357114 | 0.916 | Europe
| Italy   |     60.665 |  2167744 |  301336 | 0.873 | Europe
| Japan   |    127.061 |  4602367 |  377930 | 0.891 | Asia
| UK      |     64.511 |  2950039 |  242495 | 0.907 | Europe      |
| US      |    318.523 | 17348075 | 9525067 | 0.915 | America     |

Creating a `DataFrame`s manually can be tedious. 99% of the time you'll be pulling the data from a Database, a CSV file, from other data file formats, or from the web. However, you *can* create a DataFrame by specifying the columns and values (several forms of arguments to the constructor are available):

In [6]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

_(The `columns` attribute is optional. I'm using it to keep the same order as in the picture above)_

In [7]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

`DataFrame`s also have indexes. As you can see in the "table" above, pandas has assigned a numeric and autoincremented index automatically to each *row* in our DataFrame. In our case, we know that each row represents a country (and which one), so we can set a more useful index:

In [8]:
df.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States']
df.index.name = "Country"
df

                Population       GDP  Surface Area    HDI Continent
Country
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

We can inquire about numerous aspects of a DataFrame.

In [9]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [10]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object', name='Country')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [12]:
df.size

35

In [13]:
df.shape

(7, 5)

The `.describe()` method is very useful to provide summary statistical information about all the columns.

In [14]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

Each column, being a Series, has once consistent datatype; however, the various columns can have different datatypes from each other.

In [15]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

The `.dtypes` attribute is itself a Pandas Series, which means it has a method called `.value_counts()` to summarize a histogram of values.

In [16]:
df.dtypes.value_counts()

int64      2
float64    2
object     1
dtype: int64

In [18]:
df.Continent.value_counts()

Europe     4
America    2
Asia       1
Name: Continent, dtype: int64

<h2 style="font-weight: bold;">
    Indexing, Selection and Slicing
</h2>

![orange-divider](https://user-images.githubusercontent.com/7065401/98619088-44ab6000-22e1-11eb-8f6d-5532e68ab274.png)

Individual columns in the DataFrame can be selected with regular indexing. Each column is a Series:

In [19]:
df

                Population       GDP  Surface Area    HDI Continent
Country
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

We have seen the `.loc` accessor already in discussing Series.  It also works for DataFrames.  But since the same index is associated with multiple columns, what is returned by specifying one index item is a row as a Series with its own indices corresponding to the columns.

In [20]:
df.loc['Canada']

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

The `.iloc` accessor is similar.

In [21]:
df.iloc[3]

Population       60.665
GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: Italy, dtype: object

Whereas a Series was similar to a dictionary mapping **index** names to data values, a DataFrame is similar to a dictionary mapping **column** names to an entire row.  What is returned is, again, a Series, in this case a column.

In [22]:
df['Population']

Country
Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In many cases, you can access a column using "dotted attribute" notation.  This is nicer to look at, but will not work either where a column name is not a valid Python identifier (e.g. it contains spaces or punctuation) or where the name is the same as a reserved method or attribute.

In [23]:
df.GDP

Country
Canada             1785387
France             2833687
Germany            3874437
Italy              2167744
Japan              4602367
United Kingdom     2950039
United States     17348075
Name: GDP, dtype: int64

In [25]:
df['Surface Area']

Country
Canada            9984670
France             640679
Germany            357114
Italy              301336
Japan              377930
United Kingdom     242495
United States     9525067
Name: Surface Area, dtype: int64

Some data scientists or developers avoid the attribute style because of the problems that sometimes occur (for example, you could not show "Surface Area" this way).  This bootcamp will sometimes use both styles.

Note that the `index` of the returned Series is the same as the DataFrame one. And its `name` is the name of the column. If you're working on DataFrame, and want to return a DataFrame even where a Series might result from an operation, use the `.to_frame()` method:

In [26]:
df.Population.to_frame()

                Population
Country
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523

Multiple columns can also be selected in a manner similar to Series rows:

In [27]:
df[['Population', 'GDP']]

                Population       GDP
Country
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

The result is another `DataFrame`. Slicing works differently from indexing a DatFrame with a list; it acts at "row level", and can be counter intuitive:

In [28]:
df[1:3]

         Population      GDP  Surface Area    HDI Continent
Country
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

Because of the oddities of direct "dictionary-style" indexing, we **strongly recommend** you always use the `.loc` and `.iloc` accessors to clarify you intention.  These are extremely flexible and powerful.

In [29]:
df.loc['Italy']

Population       60.665
GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: Italy, dtype: object

In [30]:
df.loc['France': 'Italy']

         Population      GDP  Surface Area    HDI Continent
Country
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

In [31]:
df.loc[['France', 'Italy']]

         Population      GDP  Surface Area    HDI Continent
Country
France       63.951  2833687        640679  0.888    Europe
Italy        60.665  2167744        301336  0.873    Europe

Using `.iloc` is similar, merely with index positions.  You can equally use both individual numbers, slices, and lists of numbers (also predicates/Boolean arrays, which we see later).

In [32]:
df.iloc[[2, 4]]

         Population      GDP  Surface Area    HDI Continent
Country
Germany      80.940  3874437        357114  0.916    Europe
Japan       127.061  4602367        377930  0.891      Asia

In [33]:
df.iloc[2:4]

         Population      GDP  Surface Area    HDI Continent
Country
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

---
### More powerful indexing

The real power on DataFrame indexing comes when we use  a second "argument".  This lets us choose both rows and columns of interest.

In [34]:
df.loc['France': 'Italy', 'Population'].to_frame()

         Population
Country
France       63.951
Germany      80.940
Italy        60.665

In [35]:
df.loc['France': 'Italy', ['Population', 'GDP']]

         Population      GDP
Country
France       63.951  2833687
Germany      80.940  3874437
Italy        60.665  2167744

In [37]:
df.iloc[0, :]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [38]:
df.iloc[3:6, :3]

                Population      GDP  Surface Area
Country
Italy               60.665  2167744        301336
Japan              127.061  4602367        377930
United Kingdom      64.511  2950039        242495

In [39]:
df.iloc[1:3, 3]

Country
France     0.888
Germany    0.916
Name: HDI, dtype: float64

In [40]:
df.iloc[1:3, [0, 3]]

         Population    HDI
Country
France       63.951  0.888
Germany      80.940  0.916

In [41]:
df.iloc[3, 1:5]

GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: Italy, dtype: object

You should have noticed a pattern here.  When there is only a single sequence of data values, Pandas returns a Series rather than a DataFrame (whether a row or a column depends on operation).  If two dimensions are needed, it returns a DataFrame.  We can manually "promote" a Series to a DataFrame using `.to_frame()`

<h2 style="font-weight: bold;">
    Conditional selection (boolean arrays)
</h2>

![orange-divider](https://user-images.githubusercontent.com/7065401/98619088-44ab6000-22e1-11eb-8f6d-5532e68ab274.png)

We have seen conditional selection applied to Series and it works in the same way for DataFrames. After all, a DataFrame is a collection of Series.

In [42]:
df

                Population       GDP  Surface Area    HDI Continent
Country
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [43]:
df['Population'] > 70

Country
Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool

In [44]:
df.loc[df['Population'] > 70]

               Population       GDP  Surface Area    HDI Continent
Country
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

The boolean matching is done at Index level, so you can filter by any row, as long as it contains the right indexes. Column selection still works as expected:

In [45]:
df.loc[df['Population'] > 70, 'Population']

Country
Germany           80.940
Japan            127.061
United States    318.523
Name: Population, dtype: float64

In [48]:
df.loc[df['Population'] > 70, ['Population']]

               Population
Country
Germany            80.940
Japan             127.061
United States     318.523

In [49]:
df.loc[df['Population'] > 70, ['GDP']]

                    GDP
Country
Germany         3874437
Japan           4602367
United States  17348075

In [46]:
df.loc[df['Population'] > 70, ['Population', 'GDP']]

               Population       GDP
Country
Germany            80.940   3874437
Japan             127.061   4602367
United States     318.523  17348075

<h2 style="font-weight: bold;">
    Dropping stuff
</h2>

![orange-divider](https://user-images.githubusercontent.com/7065401/98619088-44ab6000-22e1-11eb-8f6d-5532e68ab274.png)

In contrast to selecting things, we can also *drop* things.

In [51]:
df.drop('Canada')

                Population       GDP  Surface Area    HDI Continent
Country
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [52]:
df.drop(['Canada', 'Japan', 'United Kingdom'])

               Population       GDP  Surface Area    HDI Continent
Country
France             63.951   2833687        640679  0.888    Europe
Germany            80.940   3874437        357114  0.916    Europe
Italy              60.665   2167744        301336  0.873    Europe
United States     318.523  17348075       9525067  0.915   America

In [53]:
df.drop(columns=['Population', 'HDI'])

                     GDP  Surface Area Continent
Country
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [54]:
df.drop(['Italy', 'Canada'], axis=0)

                Population       GDP  Surface Area    HDI Continent
Country
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [55]:
df.drop(['Population', 'HDI'], axis=1)

                     GDP  Surface Area Continent
Country
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [57]:
df.drop(['Population', 'HDI'], axis='columns')

                     GDP  Surface Area Continent
Country
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [58]:
df.drop(['Canada', 'Germany'], axis='rows')

                Population       GDP  Surface Area    HDI Continent
Country
France              63.951   2833687        640679  0.888    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

All these `drop` methods return a new `DataFrame`. If you'd like to modify it "in place", you can use the `inplace` attribute (there's an example below).  You are likely to see both the `inplace` modification and assigning back to the same variable name in code you read; it is a stylistic difference among different programmers.

<h2 style="font-weight: bold;">
    Operations
</h2>

![orange-divider](https://user-images.githubusercontent.com/7065401/98619088-44ab6000-22e1-11eb-8f6d-5532e68ab274.png)

In [59]:
df[['Population', 'GDP']]

                Population       GDP
Country
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

I am not certain what year this data is from nor what the currency unit is.  But we are certainly measuring both population and GDP in **millions** of something (the US and Canadian dollars, the Euro, and the British Pound are all relatively close in value; within a power of two or so, again depending on date and year for specifics).

In [60]:
# Show the actual number rather than millions
df[['Population', 'GDP']] * 1_000_000

                 Population             GDP
Country
Canada           35467000.0   1785387000000
France           63951000.0   2833687000000
Germany          80940000.0   3874437000000
Italy            60665000.0   2167744000000
Japan           127061000.0   4602367000000
United Kingdom   64511000.0   2950039000000
United States   318523000.0  17348075000000

---
### Broadcasting

With Series, and just above with a DataFrame, we saw examples of "broadcasting" a scalar.  For example, we multiplied all the population numbers and all the GDP numbers by a million at the same time.  We can also *broadcast* a Series to a DataFrame, or one DataFrame to another.  This can be powerful, but can require some thought.

As an example, if any of these countries came to have a trillion lower GDP (remember the DataFrame already stores millions) or an HDI (Human Development Index) that was lower by 0.3, that would be an economic and social crisis.  Let us see what numbers might meet that.

In [61]:
crisis = pd.Series([-1_000_000, -0.3], index=['GDP', 'HDI'])
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [62]:
df[['GDP', 'HDI']]

                     GDP    HDI
Country
Canada           1785387  0.913
France           2833687  0.888
Germany          3874437  0.916
Italy            2167744  0.873
Japan            4602367  0.891
United Kingdom   2950039  0.907
United States   17348075  0.915

In [63]:
df[['GDP', 'HDI']] + crisis

                       GDP    HDI
Country
Canada            785387.0  0.613
France           1833687.0  0.588
Germany          2874437.0  0.616
Italy            1167744.0  0.573
Japan            3602367.0  0.591
United Kingdom   1950039.0  0.607
United States   16348075.0  0.615

<h2 style="font-weight: bold;">
    Modifying DataFrames
</h2>

![orange-divider](https://user-images.githubusercontent.com/7065401/98619088-44ab6000-22e1-11eb-8f6d-5532e68ab274.png)


You can add columns to a DataFrame, or replace the Series held in columns when working with DataFrames.

---
### Adding a new column

While this is a huge simplification of the languages spoken in various countries, let us stipulate that some (but not all) countries have just one predominant or official language.  By stipulation, pretend it is these:

In [64]:
langs = pd.Series(
    ['French', 'German', 'Italian'],
    index=['France', 'Germany', 'Italy'],
    name='Language'
)
langs

France      French
Germany     German
Italy      Italian
Name: Language, dtype: object

We can add a column, and it will default to being "missing" where we do not have a value available.  The special value *NaN* (not a number) is used to indicate these missing values.

In [65]:
df['Language'] = langs
df

                Population       GDP  Surface Area    HDI Continent Language
Country
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe   German
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN

---
### Replacing values per column

In [66]:
df['Language'] = 'English'
df

                Population       GDP  Surface Area    HDI Continent Language
Country
Canada              35.467   1785387       9984670  0.913   America  English
France              63.951   2833687        640679  0.888    Europe  English
Germany             80.940   3874437        357114  0.916    Europe  English
Italy               60.665   2167744        301336  0.873    Europe  English
Japan              127.061   4602367        377930  0.891      Asia  English
United Kingdom      64.511   2950039        242495  0.907    Europe  English
United States      318.523  17348075       9525067  0.915   America  English

Both of those versions are rather dramatically wrong, however, in terms of actual "most common" language.  We can use filtering to come up with something better.

In [67]:
df['Language'] = langs
df

                Population       GDP  Surface Area    HDI Continent Language
Country
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe   German
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN

In [68]:
df.loc[df.Language.isnull(), 'Language'] = "English"
df.loc['Japan', 'Language'] = "Japanese"
df

                Population       GDP  Surface Area    HDI Continent  Language
Country
Canada              35.467   1785387       9984670  0.913   America   English
France              63.951   2833687        640679  0.888    Europe    French
Germany             80.940   3874437        357114  0.916    Europe    German
Italy               60.665   2167744        301336  0.873    Europe   Italian
Japan              127.061   4602367        377930  0.891      Asia  Japanese
United Kingdom      64.511   2950039        242495  0.907    Europe   English
United States      318.523  17348075       9525067  0.915   America   English

---
### Renaming Columns

Pandas is pretty clever in ignoring the information that is not relevant within many of its commands.  We can rename both some columns and some index names, but in some cases the "original" value was not present to start with.  Pandas still "does the right thing" despite that deficit.

In [69]:
df.rename(
    columns={
        'HDI': 'Human Development Index',
        'Annual Popcorn Consumption': 'APC'}, 
    index={
        'United States': 'USA',
        'United Kingdom': 'UK',
        'Argentina': 'AR'
    })

,Population,GDP,Surface Area,Human Development Index,Continent,Language
Country,,,,,,
Canada,35.467,1785387,9984670,0.913,America,English
France,63.951,2833687,640679,0.888,Europe,French
Germany,80.940,3874437,357114,0.916,Europe,German
Italy,60.665,2167744,301336,0.873,Europe,Italian
Japan,127.061,4602367,377930,0.891,Asia,Japanese
UK,64.511,2950039,242495,0.907,Europe,English
USA,318.523,17348075,9525067,0.915,America,English

We can rename in a programmatic way.  For example, perhaps we wish to uppercase all the country names in the index:

In [70]:
# Notice there is no inplace modification here
df.rename(index=str.upper)

                Population       GDP  Surface Area    HDI Continent  Language
Country
CANADA              35.467   1785387       9984670  0.913   America   English
FRANCE              63.951   2833687        640679  0.888    Europe    French
GERMANY             80.940   3874437        357114  0.916    Europe    German
ITALY               60.665   2167744        301336  0.873    Europe   Italian
JAPAN              127.061   4602367        377930  0.891      Asia  Japanese
UNITED KINGDOM      64.511   2950039        242495  0.907    Europe   English
UNITED STATES      318.523  17348075       9525067  0.915   America   English

Or lowercase them.

In [71]:
def lower(s):
    return s.lower()

df.rename(index=lower)

                Population       GDP  Surface Area    HDI Continent  Language
Country
canada              35.467   1785387       9984670  0.913   America   English
france              63.951   2833687        640679  0.888    Europe    French
germany             80.940   3874437        357114  0.916    Europe    German
italy               60.665   2167744        301336  0.873    Europe   Italian
japan              127.061   4602367        377930  0.891      Asia  Japanese
united kingdom      64.511   2950039        242495  0.907    Europe   English
united states      318.523  17348075       9525067  0.915   America   English

---
### Dropping columns

In [72]:
df.drop(columns='Language', inplace=True)
df

                Population       GDP  Surface Area    HDI Continent
Country
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

---
### Adding values

Note that we add a row with only some column values indicated in the below. The rest get filled in with the "missing" sentinel, NaN.

In [73]:
# Some rough guesses for an unknown year and currency 
df.append(
    pd.Series({
        'Population': 1400,
        'GDP': 10_000_000
    },
    name='China'))

                Population         GDP  Surface Area    HDI Continent
Country
Canada              35.467   1785387.0     9984670.0  0.913   America
France              63.951   2833687.0      640679.0  0.888    Europe
Germany             80.940   3874437.0      357114.0  0.916    Europe
Italy               60.665   2167744.0      301336.0  0.873    Europe
Japan              127.061   4602367.0      377930.0  0.891      Asia
United Kingdom      64.511   2950039.0      242495.0  0.907    Europe
United States      318.523  17348075.0     9525067.0  0.915   America
China             1400.000  10000000.0           NaN    NaN       NaN

Append returns a new DataFrame; it did not modify the existing one.

In [74]:
df

                Population       GDP  Surface Area    HDI Continent
Country
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

You can directly set the new index and values to the `DataFrame`:

In [75]:
df.loc['China'] = pd.Series({'Population': 1_400, 'Continent': 'Asia'})
df

                Population         GDP  Surface Area    HDI Continent
Country
Canada              35.467   1785387.0     9984670.0  0.913   America
France              63.951   2833687.0      640679.0  0.888    Europe
Germany             80.940   3874437.0      357114.0  0.916    Europe
Italy               60.665   2167744.0      301336.0  0.873    Europe
Japan              127.061   4602367.0      377930.0  0.891      Asia
United Kingdom      64.511   2950039.0      242495.0  0.907    Europe
United States      318.523  17348075.0     9525067.0  0.915   America
China             1400.000         NaN           NaN    NaN      Asia

We can use `drop` to just remove a row by index:

In [76]:
df.drop('China', inplace=True)
df

                Population         GDP  Surface Area    HDI Continent
Country
Canada              35.467   1785387.0     9984670.0  0.913   America
France              63.951   2833687.0      640679.0  0.888    Europe
Germany             80.940   3874437.0      357114.0  0.916    Europe
Italy               60.665   2167744.0      301336.0  0.873    Europe
Japan              127.061   4602367.0      377930.0  0.891      Asia
United Kingdom      64.511   2950039.0      242495.0  0.907    Europe
United States      318.523  17348075.0     9525067.0  0.915   America

---
### Changing the index

In [77]:
df.reset_index(inplace=True)
df

          Country  Population         GDP  Surface Area    HDI Continent
0          Canada      35.467   1785387.0     9984670.0  0.913   America
1          France      63.951   2833687.0      640679.0  0.888    Europe
2         Germany      80.940   3874437.0      357114.0  0.916    Europe
3           Italy      60.665   2167744.0      301336.0  0.873    Europe
4           Japan     127.061   4602367.0      377930.0  0.891      Asia
5  United Kingdom      64.511   2950039.0      242495.0  0.907    Europe
6   United States     318.523  17348075.0     9525067.0  0.915   America

In [78]:
df.set_index('Population')

                   Country         GDP  Surface Area    HDI Continent
Population
35.467              Canada   1785387.0     9984670.0  0.913   America
63.951              France   2833687.0      640679.0  0.888    Europe
80.940             Germany   3874437.0      357114.0  0.916    Europe
60.665               Italy   2167744.0      301336.0  0.873    Europe
127.061              Japan   4602367.0      377930.0  0.891      Asia
64.511      United Kingdom   2950039.0      242495.0  0.907    Europe
318.523      United States  17348075.0     9525067.0  0.915   America

In [79]:
df = df.set_index('Country')
df

                Population         GDP  Surface Area    HDI Continent
Country
Canada              35.467   1785387.0     9984670.0  0.913   America
France              63.951   2833687.0      640679.0  0.888    Europe
Germany             80.940   3874437.0      357114.0  0.916    Europe
Italy               60.665   2167744.0      301336.0  0.873    Europe
Japan              127.061   4602367.0      377930.0  0.891      Asia
United Kingdom      64.511   2950039.0      242495.0  0.907    Europe
United States      318.523  17348075.0     9525067.0  0.915   America

<h2 style="font-weight: bold;">
    Creating columns from other columns
</h2>

![orange-divider](https://user-images.githubusercontent.com/7065401/98619088-44ab6000-22e1-11eb-8f6d-5532e68ab274.png)

Altering a DataFrame often involves combining different columns. For example, in our Countries analysis, we could try to calculate the "GDP per capita", which is just, `GDP / Population`.

In [80]:
df[['Population', 'GDP']]

                Population         GDP
Country
Canada              35.467   1785387.0
France              63.951   2833687.0
Germany             80.940   3874437.0
Italy               60.665   2167744.0
Japan              127.061   4602367.0
United Kingdom      64.511   2950039.0
United States      318.523  17348075.0

The regular pandas way of expressing that, is just dividing each series:

In [81]:
df.GDP / df.Population

Country
Canada            50339.385908
France            44310.284437
Germany           47868.013343
Italy             35733.025633
Japan             36221.712406
United Kingdom    45729.239975
United States     54464.120330
dtype: float64

The result of that operation is just another series that you can add to the original `DataFrame`:

In [82]:
df['GDP Per Capita'] = df['GDP'] / df['Population']
df

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita
Country,,,,,,
Canada,35.467,1785387.0,9984670.0,0.913,America,50339.385908
France,63.951,2833687.0,640679.0,0.888,Europe,44310.284437
Germany,80.940,3874437.0,357114.0,0.916,Europe,47868.013343
Italy,60.665,2167744.0,301336.0,0.873,Europe,35733.025633
Japan,127.061,4602367.0,377930.0,0.891,Asia,36221.712406
United Kingdom,64.511,2950039.0,242495.0,0.907,Europe,45729.239975
United States,318.523,17348075.0,9525067.0,0.915,America,54464.120330

<h2 style="font-weight: bold;">
    Statistical info
</h2>

![orange-divider](https://user-images.githubusercontent.com/7065401/98619088-44ab6000-22e1-11eb-8f6d-5532e68ab274.png)

You've already seen the `describe` method, which gives you a good "summary" of the `DataFrame`. Let's explore other methods in more detail:

In [84]:
df.head(4)

         Population        GDP  Surface Area    HDI Continent  GDP Per Capita
Country
Canada       35.467  1785387.0     9984670.0  0.913   America    50339.385908
France       63.951  2833687.0      640679.0  0.888    Europe    44310.284437
Germany      80.940  3874437.0      357114.0  0.916    Europe    47868.013343
Italy        60.665  2167744.0      301336.0  0.873    Europe    35733.025633

In [85]:
df.describe()

       Population           GDP  Surface Area       HDI  GDP Per Capita
count    7.000000  7.000000e+00  7.000000e+00  7.000000        7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429    44952.254576
std     97.249970  5.494020e+06  4.576187e+06  0.016592     6954.983875
min     35.467000  1.785387e+06  2.424950e+05  0.873000    35733.025633
25%     62.308000  2.500716e+06  3.292250e+05  0.889500    40265.998421
50%     64.511000  2.950039e+06  3.779300e+05  0.907000    45729.239975
75%    104.000500  4.238402e+06  5.082873e+06  0.914000    49103.699626
max    318.523000  1.734808e+07  9.984670e+06  0.916000    54464.120330

In [86]:
population = df['Population']

In [87]:
population.min(), population.max()

(35.467, 318.523)

In [88]:
population.sum()

751.118

In [89]:
population.sum() / len(population)

107.30257142857144

In [90]:
population.mean()

107.30257142857144

In [91]:
population.std()

97.24996987121581

In [92]:
population.median()

64.511

In [93]:
population.describe()

count      7.000000
mean     107.302571
std       97.249970
min       35.467000
25%       62.308000
50%       64.511000
75%      104.000500
max      318.523000
Name: Population, dtype: float64

In [94]:
population.quantile(.25)

62.308

In [96]:
population.quantile([.2, .3, .6, .8, 1])

0.2     61.3222
0.3     63.2938
0.6     74.3684
0.8    117.8368
1.0    318.5230
Name: Population, dtype: float64

<div style="width: 100%; height: 200px; background-color: #ef7d22; text-align: center; padding-top: 20px; margin-bottom: 40px;">
<br><br>

<h1 style="color: white; font-weight: bold;">
    Exercises
</h1>

<br><br> 
</div>

<h2 style="font-weight: bold;">
    DataFrame creation
</h2>

![orange-divider](https://user-images.githubusercontent.com/7065401/98619088-44ab6000-22e1-11eb-8f6d-5532e68ab274.png)

---
### Create an empty pandas DataFrame

In [ ]:
# your code goes here

---
### Create a `marvel_df` pandas DataFrame with the given marvel data

<img width=400 src="https://cdn.dribbble.com/users/4678/screenshots/1986600/avengers.png"></img>

In [ ]:
marvel_data = [
    ['Spider-Man', 'male', 1962],
    ['Captain America', 'male', 1941],
    ['Wolverine', 'male', 1974],
    ['Iron Man', 'male', 1963],
    ['Thor', 'male', 1963],
    ['Thing', 'male', 1961],
    ['Mister Fantastic', 'male', 1961],
    ['Hulk', 'male', 1962],
    ['Beast', 'male', 1963],
    ['Invisible Woman', 'female', 1961],
    ['Storm', 'female', 1975],
    ['Namor', 'male', 1939],
    ['Hawkeye', 'male', 1964],
    ['Daredevil', 'male', 1964],
    ['Doctor Strange', 'male', 1963],
    ['Hank Pym', 'male', 1962],
    ['Scarlet Witch', 'female', 1964],
    ['Wasp', 'female', 1963],
    ['Black Widow', 'female', 1964],
    ['Vision', 'male', 1968]
]

In [ ]:
# your code goes here
marvel_df = pd.DataFrame()
marvel_df

---
### Add column names to the `marvel_df`

In [ ]:
# your code goes here

---
### Add index names to the `marvel_df` (use the character name as index)

In [ ]:
# your code goes here

---
### Drop the name column as it's now the index

In [ ]:
# your code goes here

---
### Drop 'Namor' and 'Hank Pym' rows

In [ ]:
# your code goes here

<h2 style="font-weight: bold;">
    DataFrame selection, slicing and indexation
</h2>

![orange-divider](https://user-images.githubusercontent.com/7065401/98619088-44ab6000-22e1-11eb-8f6d-5532e68ab274.png)

---
### Show the first 5 elements on `marvel_df`

In [ ]:
# your code goes here

---
### Show the last 5 elements on `marvel_df`

In [ ]:
# your code goes here

---
### Show the first 6 characters by order of first appearance

In [ ]:
# your code goes here

---
### Show just the sex of the first 5 elements on `marvel_df`

In [ ]:
# your code goes here

---
### Show the first_appearance of all middle elements on `marvel_df`

In [ ]:
# your code goes here

---
### Show the first and last elements on `marvel_df`

In [ ]:
# your code goes here

<h2 style="font-weight: bold;">
    DataFrame manipulation and operations
</h2>

![orange-divider](https://user-images.githubusercontent.com/7065401/98619088-44ab6000-22e1-11eb-8f6d-5532e68ab274.png)

---
### Modify the `first_appearance` of 'Vision' to year 1964

In [ ]:
# your code goes here

---
### Add a new column to `marvel_df` called 'years_since' with the years since `first_appearance`

In [ ]:
# your code goes here

<h2 style="font-weight: bold;">
    DataFrame boolean arrays (also called masks)
</h2>

![orange-divider](https://user-images.githubusercontent.com/7065401/98619088-44ab6000-22e1-11eb-8f6d-5532e68ab274.png)

---
### Given the `marvel_df` pandas DataFrame, make a mask showing the female characters

In [ ]:
# your code goes here

---
### Given the `marvel_df` pandas DataFrame, get the male characters

In [ ]:
# your code goes here

---
### Given the `marvel_df` pandas DataFrame, get the characters with `first_appearance` after 1970

In [ ]:
# your code goes here

---
### Given the `marvel_df` pandas DataFrame, get the female characters with `first_appearance` after 1970

In [ ]:
# your code goes here

<h2 style="font-weight: bold;">
    DataFrame summary statistics
</h2>

![orange-divider](https://user-images.githubusercontent.com/7065401/98619088-44ab6000-22e1-11eb-8f6d-5532e68ab274.png)

---
### Show basic statistics of `marvel_df`

In [ ]:
# your code goes here

---
### Given the `marvel_df` pandas DataFrame, show the mean value of `first_appearance`

In [ ]:
# your code goes here

---
### Given the `marvel_df` pandas DataFrame, show the min value of `first_appearance`

In [ ]:
# your code goes here

---
### Given the `marvel_df` pandas DataFrame, get the characters with the min value of `first_appearance`

In [ ]:
# your code goes here

<div style="width: 100%; height: 400px; background-color: #222; text-align: center; padding-top: 120px;">
<br><br>

<h1 style="color: white; font-weight: bold;">
    Review and questions
</h1>

<br><br> 
</div>

---
<div style="position: relative; text-align: right;">
<img src="https://user-images.githubusercontent.com/7065401/98614301-dcf01780-22d6-11eb-9c8f-65ebfceac6f6.png" style="width: 130px; display: inline-block;"></img>

<img src="https://user-images.githubusercontent.com/7065401/98864025-08deda80-2448-11eb-9600-22aa17884cdf.png" style="height: 100%; max-height: inherit; position: absolute; top: 20%; left: 0px;"></img>
<br>

<h2 style="font-weight: bold;">
    David Mertz, Ph.D.
</h2>

<h3 style="color: #ef7d22; margin-top: 0.8em">
    Data Scientist
</h3>
<hr>
<br><br>

<p style="font-size: 80%; text-align: right; margin: 10px 0px;">
    david.mertz@gmail.com
</p>
<p style="font-size: 80%; text-align: right; margin: 10px 0px;">
    linkedin.com/in/dmertz/
</p>

</div>

<br><br><br>